.social-container {
  position: absolute;
  top: 0;
  left: -40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 8px;

  @media (max-width: 800px) {
    height: 24px;
    top: -34px;
    left: 16px;
    flex-direction: row;
  }

  /* :nth-child(1) {
    background-color: blue;
  }

  :nth-child(2) {
    background-color: white;
  }

  :nth-child(3) {
    background-color: red;
  } */

  a {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;

    svg {
      width: 18px;

      path {
        fill: var(--text-primary);
      }
    }

    &:hover {
      opacity: 1;
    }
  }
}
