@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bgColor: #0e131a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body,
textarea,
input,
select {
  font-size: 1rem;
}

body {
  background-color: var(--bgColor);
  display: flex;
  align-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 40px;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  width: calc(100% - 40px);
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.social-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.social-buttons a i {
  transition: all 0.3s ease;
  border-radius: 50%;
  padding: 4px;
}

.social-buttons a:hover i {
  color: #6495ed;
}

.social-buttons a i {
  color: #66707e;
  font-size: 20px;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.profile__image {
  width: 100px;
}

.profile__name {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

.profile__desc {
  font-size: 12px;
  color: #ddd;
}

.profile__location {
  color: #606979;
  font-size: 12px;
}

.displayNone {
  display: none !important;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.buttons .cv-btn {
  background: linear-gradient(45deg, #3674e7 20%, #5488eb 50%, #3674e7 50%);
  background-size: 600px;
  background-position: -400px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 10px;
  padding: 0 20px;
  height: 40px;
  border-radius: 6px;
  transition: all 0.7s ease-in-out;
  font-size: 13px;
  outline: 2px solid transparent;
}

.cv-btn:hover {
  box-shadow: 0 0 7px #417be7;
  background-position: 600px;
}

.cv-btn:active {
  background-color: #3674e7;
  transform: scale(1.05);
  transition: 0.2s ease;
}

.cv-btn i {
  font-size: 18px;
}

.sections-container {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: auto;
}

.sections__title {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.sections__title a {
  margin: 6px 10px;
  color: #404855;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sections__title a:hover {
  color: #606979;
}

.noscript .sections__title a,
.noscript .selected {
  color: #404855 !important;
}

.noscript .sections__title a:hover {
  color: #606979 !important;
}

.selected {
  color: #fff !important;
}

.sections-content {
  display: flex;
  flex-direction: row;
  width: 2000px;
  scroll-behavior: smooth;
}

.isHidden {
  height: 0;
  overflow-y: hidden;
  opacity: 0;
  transition: all 0.3ease;
}

.habilidades-section,
.certificados-section,
.projetos-section,
.mobile-section {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-auto-rows: max-content;
  width: calc(100vw - 40px);
  max-width: 500px;
}

.certificados-section {
  grid-template-columns: 1fr;
}

.projetos-section {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.mobile-section {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card,
.project-card,
.mobile-card {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  background-color: #232933;
  position: relative;
  overflow: hidden;
  padding: 10px;
  position: relative;
  min-height: 120px;
}

.certificado-card {
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  background-color: #232933;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  transition: all 0.3s ease;
}

.certificado-card:hover {
  filter: brightness(1.2);
}

.certificado-card img {
  width: 24px;
}

.certificado-card .habilidades-icon {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.certificado-card .certificado__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
}

.certificado-card .certificado__info span {
  font-size: 0.6rem;
  opacity: 0.6;
}

.mobile-card {
  cursor: pointer;
}

.noscript .mobile-card {
  cursor: auto;
}

.mobile-card .project__image img {
  transition: all 0.3s ease;
  position: relative;
}

.mobile-card:hover .project__image img {
  filter: blur(2px);
}

.noscript .mobile-card:hover .project__image img {
  filter: none;
}

.mobile-card:hover .project__image::after {
  opacity: 1;
}

.mobile-card .project__image::after {
  content: "Ampliar";
  position: absolute;
  color: #fff;
  font-size: 10px;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  opacity: 0;
  font-weight: bold;
}

.noscript .mobile-card .project__image::after {
  display: none;
}

.project-card {
  justify-content: flex-start;
}

.card__img {
  height: 30px;
  max-width: 30px;
}

.card__text {
  font-size: 0.9em;
  color: #fff;
  line-height: 1;
  font-weight: bold;
}

.project__image {
  display: grid;
  place-items: center;
}

.project__image img {
  width: 100%;
  border-radius: 6px;
}

.project__desc {
  line-height: 1.5;
  color: #768492;
  font-size: 12px;
  font-weight: normal;
  width: 100%;
}

.link-button {
  width: 80px;
  display: grid;
  place-items: center;
  font-size: 12px;
  min-height: 30px;
  height: 30px;
  background-color: #527ece;
  color: #fff;
  border-radius: 200px;
  transition: all 0.3s ease;
  margin-top: auto;
  margin-right: auto;
}

.ampliar-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 12px;
  background-color: #527ece;
  color: #fff;
  border-radius: 200px;
  transition: all 0.3s ease;
}

.ampliar-btn i {
  font-size: 16px;
}

.ampliar-btn:hover {
  box-shadow: 0 0 20px 0px #000;
}

.link-button:hover {
  background-color: #6495ed;
}

/* SCROLLBAR STYLE */

body::-webkit-scrollbar {
  width: 20px;
  width: 0;
}

body::-webkit-scrollbar-track {
  background: var(--bgColor);
}

body::-webkit-scrollbar-thumb {
  background-color: #232933;
  border-radius: 20px;
  border: 8px solid var(--bgColor);
}

/* */

.modal-off {
  transform: scale(0);
}

.modal {
  transition: all 0.3s ease;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  z-index: 99;
}

.close-modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.modal__image {
  user-select: none;
  position: relative;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  padding: 20px;
  z-index: 1;
}

.modal__image img {
  width: 100%;
}

.close-modal-button {
  position: absolute;
  top: -15px;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: #ccc;
  font-size: 12px;
  transition: all 0.3s ease;
  display: grid;
  place-items: center;
}

.close-modal-button i {
  font-size: 20px;
  position: absolute;
}

.close-modal-button:hover {
  color: #fff;
}

.blurFilter {
  filter: blur(10px);
}

body {
  position: relative;
}

.selavyContainer {
  display: grid;
  place-items: center;
  width: 100%;
  position: absolute;
  bottom: 10px;
}

.selavy {
  color: #fff;
  font-size: 10px;
  opacity: 0.2;
  transition: all 0.3s ease;
  font-weight: 200;
}

.selavy:hover {
  opacity: 1;
}

.selavyEffect {
  display: grid;
  place-items: center;
  position: relative;
  cursor: help;
  overflow: hidden;
  max-height: 100vh;
}

.selavyEffect::after {
  content: "c'est la vie...";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  text-align: center;
  padding-top: 60px;
  font-size: 100px;
  color: #222;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  display: grid;
  place-items: center;
}

@media screen and (max-width: 400px) {
  .container {
    width: calc(100% - 40px);
  }
}

.noscript {}