.section__certificates {
  display: flex;
  flex-direction: column;
}

.certificate {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  transition: all 0.3s ease;
  padding: 8px;
  border-radius: 6px;
  background-color: transparent;

  * {
    transition: all 0.3s ease;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.03);
    transform: translateX(-4px);
  }

  p {
    font-weight: bold;
    color: var(--text-primary);
  }

  span {
    color: var(--text-primary);
    font-size: 12px;
    opacity: 0.8;
  }
}
